body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:blue;
  font-family: sans-serif;
}

.box1, .box2 {
  background: white;
  padding: 40px;
  text-align: center;
  width: 400px;  
}

input {
  padding: 8px;
  margin: 10px;
}

button {
  padding: 8px 15px;
  border: none;
  background: black;
  color: white;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}

#chat {
  max-width: 200px;
  margin: 30px auto;
}

.seo-text {
  background-color: black;
  font-size: 16px;
  line-height: 1.5;
  color:white;
  padding: 20px;
  max-width: 600px;
  margin: 40px auto;
}
